<?xml version="1.0"?>
<configss>
	<title>Brondani (Ambiente de Teste)</title>
	<descricao>Brondani Auto Peças</descricao>
	<logo>ss.logo</logo>
  <icon></icon>
  <!-- 
     Opções para imagens de fundo:
     - verde (padrão)
     - amarelo
     - azulclaro
     - azulescuro
     - cinza
     - laranja
     - rosa
     - vermelho
  -->
  <fundo>azulescuro</fundo>
</configss>