<?xml version="1.0"?>
<configss>
	<title>DPL Pedido Online</title>
	<descricao>SS Sistemas Demonstração</descricao>
	<logo>ss.logo</logo>
  <icon></icon>
  <!-- 
     Opções para imagens de fundo:
     - verde (padrão)
     - amarelo
     - azulclaro
     - azulescuro
     - cinza
     - laranja
     - rosa
     - vermelho
  -->
  <fundo>verde</fundo>
</configss>